@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import "primeicons/primeicons.css";
@import 'primeng/resources/themes/lara-light-indigo/theme.css';
@import 'primeng/resources/primeng.min.css';


html, body {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #f472b6;
}
